# Configurações do EmailJS - https://www.emailjs.com/
NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_CONTACT_EMAIL=

NEXT_PUBLIC_EMAILJS_TEMPLATE_ID_CONTATO=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID_NEWSLETTER=

# Modo de Manutenção
# Defina como "true" para ativar a página de manutenção em todo o site.
MAINTENANCE_MODE=false