@import "tailwindcss";

@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #69169c;
  --primary-foreground: #ffffff;
  --secondary: #f45920;
  --secondary-foreground: #ffffff;
  --accent: #ffcb01;
  --accent-foreground: #0b0b0b;
  
  --background: #f1f1f1;
  --foreground: #0b0b0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.font-heading {
  font-family: var(--font-tiny5), Tiny5, var(--font-sans), system-ui, sans-serif !important;
}
